.navBar{
    background-color: #2196F3;
    padding: 2rem;
    font-size: 2rem;
    color: white;
    width: 100vw;
    overflow-x: auto;
    display: flex;
    align-items: center;
    height: 8rem;
    /* display: inline-block; */
}

.title{
    display: flex;
    margin-right: 1rem;
}

.navButton{
    display: flex;
    height: 6rem;
    /* vertical-align: middle; */
    align-items: center;
    justify-content: center;
    /* margin-right: 1rem; */
    /* margin-left: 70%; */
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 16pt;
    border-left: 2px solid white;
    border-right: 2px solid white;
}