[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
flask = "*"
pipeline = "*"
flask-cors = "*"
beautifulsoup4 = "*"
requests = "*"
pypdf2 = "*"
spacy = "*"
ipython = "*"
gunicorn = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.11"
